.main {
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding-bottom: 17vh;

    .Card {
        margin-top: -2vh;
        height: 57.5vh;
        width: 25vh;
        background-color: #232323;
        border-radius: 0.5vh;
        margin-left: 2vh
    }

    .Style {
        user-select: none;
        height: 15vh;
        width: 15vh;
        margin-left: 5vh;
        margin-top: 3vh;
    }
    
    .ClassNumber {
        user-select: none;
        color: white;
        font-size: 9vh;
        font-weight: 500;
        text-align: center;
    }
    
    .Vehicle {
        user-select: none;
        color: white;
        font-size: 2vh;
        text-align: center;
        margin-top: 4vh
    }

    .Crypto {
        user-select: none;
        color: white;
        font-size: 2vh;
        text-align: center;
    }
    
    .Plate {
        user-select: none;
        color: white;
        font-size: 1.5vh;
        text-align: center;
    }

    .ActionButton {
        user-select: none;
        margin-left: -17.5%;
        width: 135%;
        margin-top: 10%;
        color: white;
        height: 40%;
        border-radius: 0.5vh;
        background-color: #141414;
        
        &:hover {
            background-color: rgba(0, 0, 0, 0.564);
        }
    }

    .CancelButton {
        user-select: none;
        margin-left: -17.5%;
        width: 135%;
        margin-top: 10%;
        color: white;
        height: 40%;
        border-radius: 0.5vh;
    }
}