.main {
    height: 100%;
    width: 100%;
    
    position: absolute;
    z-index: 1;
    
    right: 0%;

    .BoxTextHeader {
        color: #fff;
        font-size: 3vh;
        font-weight: 500;
        text-align: center;
        font-family: "Inter";
        user-select: none
    }

    .BoxText {
        color: #8f8f8f;
        font-family: "Inter";
        user-select: none;
        text-align: center;
        font-size: 2.25vh;
    }
}